* {
    font-family: 'Gowun Batang', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    height: 100%;
    background-color: #cc3939e3;
    background-image: url("https://freight.cargo.site/t/original/i/66c57118c402645821b4a1a0bb271e350a09337caa1f535f8aa045910a086b90/crias-4_0308.png");
    background-position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 90%;
    margin: 0 auto 5rem;
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (min-width:768px) {
    .content {
        width: 70%;
    }
}

.mark {
    color: rgba(212, 6, 150, 0.753);
    font-weight: 700;
}

section {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 94%;
}

.section_H {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 94%;
    padding-top: 100%;
}