header {
    background-image: url("https://freight.cargo.site/t/original/i/398e916dbe85ff2f96df33fdc918de549fd315c6589452f36fc14c932c332f7d/stones-all-002-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}