#navID {
    height: 10vh;
    }
.nav {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    padding: 1rem;
}

.nav .nav__brand a,
.nav .nav__links li a {
    display: block;
    padding: .3rem;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    position: relative;
    color: rgba(239, 247, 243, 0.959);
    text-shadow: 3px 3px 3px rgb(7, 3, 17);
    font-weight: bold;
}

.nav .nav__links {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav .nav__brand a {
    font-size: 1.5rem;
    color: rgba(239, 247, 243, 0.959);
    text-shadow: 3px 3px 3px rgb(7, 3, 17);
}

.nav .nav__brand i {
    color: rgba(196, 11, 140, 0.959);
}

.nav .nav__links li a::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #13030e;
    z-index: -1;
    transition: all .4s;
}

.nav .nav__links li a.active {
    color: rgba(8, 240, 58, 0.959);
}

.nav .nav__links li a.active::before {
    width: 100%;
}

@media screen and (min-width:768px) {
    .nav {
        flex-direction: row;
    }
    .nav .nav__links {
        margin: 0 3rem;
    }
    .nav .nav__links li a {
        position: relative;
        display: block;
        padding: .5rem;
        font-family: 'Cabin', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2rem;
        transition: all .4s;
    }
    .nav .nav__links li:hover a {
        color: rgba(8, 240, 58, 0.959);
    }
    .nav .nav__links li:hover a::before {
        width: 100%;
    }
}